@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Công nợ
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Manage","BookManage")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Công nợ</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="pubdebt" class="table table-bordered table-striped">
                        <thead>
                            <tr>                     
                                <th>Mã NXB</th>                    
                                <th>Nhà xuất bản</th>
                                <th>Nợ phải trả</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="2" style="text-align:right">Tổng nợ:</th>
                                <th colspan="2"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<link href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<style>
    th{
        text-align:center
    }
    td{
        text-align: center
    }
</style>
@*scripts*@

@section Scripts{
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/custome-js/dateformat.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#pubdebt').DataTable({
                "ajax": {
                    "url": "/Pub_Debt/GetPubDebt",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "PubID" },
                    { "data": "PubName" },
                    { "data": "PubDebt" },
                    { "data": null, "className": 'details-control', "orderable": false, "defaultContent": 'Details' }
                ],
                "createdRow": function (row, data, dataIndex) {
                    $('td', row).eq(3).addClass('btn btn-link');
                },
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(2)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(2, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(2).footer()).html(
                        'VNĐ ' + pageTotal + ' in page - VNĐ ' + total + ' for all'
                    );
                }
            });

            // Add event listener for opening and closing details
            $('#pubdebt tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var url = window.location.href;
                window.location = url + "/Details/" + $(tr.find('td:eq(0)')).text();
            });
        }); // document ready
    </script>
}